html{
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
}
.container {
    background-color: #171717;
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.item {
    background-color: #252526;
    width: 50%;
    padding: 40px;
    border-radius: 10px;
    margin: 100px;
}

p{
    color:rgb(190, 190, 190);
    font-size: 20px;
}
a, .colors{
    color:#8c46f2;
    text-decoration: none !important;
border: none !important;
}
.pink-text{
    color: #8C46F2!important;
}

.pt{
    display:contents;
    text-decoration: none;
    font-weight: bold;
  }