html {

    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}


 body {
    background: #212121;
 }
 .decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
 .form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
 .form-left-decoration {
    bottom: 60px;
    left: -30px;
 }
 .form-right-decoration {
    top: 60px;
    right: -30px;
 }
 .form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background: #212121;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
 .form-left-decoration:before {
    top: -20px;
 }
 .form-left-decoration:after {
    top: 20px;
    left: 10px;
 }
 .form-right-decoration:before {
    top: -20px;
    right: 0;
 }
 .form-right-decoration:after {
    top: 20px;
    right: 10px;
 }
 .circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
 }
 .form-inner {
    padding: 50px;
 }
 .form-inner input, .form-inner textarea {
    display: block;
    width: 87%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
 }
 .form-inner input[type="submit"] {
    margin-top: 30px;
    background: #6441A4;
    border-bottom: 4px solid #4f3188;
    color: white;
    font-size: 14px;
 }
 
 .form-inner input[type="submit"]:hover {
    background: #482e79;
    border-bottom: 4px solid #4f3188;
    color: white;
 }

 .form-inner textarea {
    resize: none;
 }
 .form-inner h3 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
 }

.decor{
   margin-top: 2%;
   margin-bottom: 12%;
}

.accept{
   color: #707981;
   text-align: center;
}
.rules{
   margin-top: 2px!important;
}


.conc{
   position: absolute;
   bottom: 0%;
   top: 30vh;
   z-index: 4;
   width: 100%;
   height: 100%;

}

.red-text{
   color: red;
   text-align: center;
   font-size: 17px;
   font-weight: 1000;
}

select, option{
   align-items: center;
   padding: 10px;

   display: block;
   width: 100%;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Montserrat', sans-serif;
}

.subb{
   width: 100%!important;
}
input{
   margin: 20px 0px;
}