html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(https://imgur.com/YBAyU8g.jpeg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: #171717;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px 10% ;
    text-align: justify;
    color: rgb(190, 190, 190);
}

.footer {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 64px;
    width: 100%;
    background-color: #212121;
    color: rgb(107, 107, 107);
    text-align: center;
    z-index: 5;
    position: absolute;
    height:25vh ;
    left:0px;
  }

  a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  a[title]:hover::after {
    content: attr(title);
    position:absolute;
    top: -43%;
    left: -17%;
    font-family: 'Montserrat', sans-serif;
  }

  .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
    opacity: 0.7;
  }
  .fa:hover {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube-play {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-twitch {
    background: #8C46F2;
    color: white;
  }
  .fa-telegram {
    background: #2B98CE;
    color: white;
  }

  .fa-cloud {
    background: #105a7c;
    color: white;
  }

 .fa-money {
    background: #17770e;
    color: white;
  }

  .pink-text{
    color: #8C46F2!important;
  }
  .rede-text{
    color: #757575!important;
    text-align: center;
    font-weight:normal;
    font-size: 13px;
  }
.size-16{
  font-size: 18px;
}
.size-17{
  font-size: 14px;
}
.size-11{
  font-size: 11px!important;
  color: #ACACAC;
}

  .pt{
    display:contents;
    text-decoration: none;
    font-weight: bold;
  }

.footer-t{
  opacity: 0.7;
  font-weight: bold;
}


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.imgs{
  float:left;
  margin: 7px 7px 7px 0;
  padding: 10px 20px 30px 0px;
}

.copy_link_mess{
  line-height:40px;
  border-radius:5px;
  background:#212121;
  color:#fff;
  position: absolute;
  padding:0 15px;
  z-index:99;
  top: 57vh;
  left:50%;
  margin-left:-135px;
  display:none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

.footer-t2{
  color: #4d4d4d;
  font-weight: bold;
  opacity: 90;
}



.btn{
  width: 100%;
  text-align: center;
}

.toform {
  margin-top: 30px;
  background: #6441A4;
  border-bottom: 4px solid #4f3188;
  color: white;
  font-size: 14px;
  border-radius: 20px;
  padding: 0 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 240px;
  text-align: center;
  align-content: center;
  text-decoration: none;
}

.toform:hover {
  background: #482e79;
  border-bottom: 4px solid #4f3188;
  color: white;
}

.shadow{
  filter: drop-shadow(2px 0px 5px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(2px 0px 5px rgba(0, 0, 0, 0.5));
}




.product-item {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #303134;
  background: #303134;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease-in;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.product-item:hover {
  border-bottom: 2px solid #6C3BB3;
  border-radius: 15px;
}
.product-item img {
  margin-top: 50px;
  display: block;
  width: 100%;
}
.product-list {
  background: #303134;
  padding: 15px 0;
  border-radius: 15px;
}
.product-list h3 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #AEC1C6;
  font-weight: bold;
  margin: 0 0 10px 0;
  border-radius: 15px;
}
.details {
  font-size: 14px;
  color: #BEBEBE;
  display: block;
  text-align:center;
  margin-bottom: 12px;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 9px;
}
.product-item:hover .button {
  background: #6C3BB3;
  border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #414141;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}