html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(https://imgur.com/YBAyU8g.jpeg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: black;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px 80px 140px 80px;
    text-align: justify;
    color: rgb(190, 190, 190);
}

.footer {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #212121;
    color: rgb(107, 107, 107);
    text-align: center;
    z-index: 5;
    position: absolute;
    left:0px;
  }

  a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  a[title]:hover::after {
    content: attr(title);
    position:absolute;
    top: -43%;
    left: -17%;
    font-family: 'Montserrat', sans-serif;
  }

  .fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
    opacity: 0.7;
  }
  .fa:hover {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube-play {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-twitch {
    background: #8C46F2;
    color: white;
  }
  .fa-telegram {
    background: #2B98CE;
    color: white;
  }

  .fa-cloud {
    background: #105a7c;
    color: white;
  }

 .fa-money {
    background: #17770e;
    color: white;
  }

  .pink-text{
    color: #8C46F2!important
  }

.footer-t{
  opacity: 0.7;
  font-weight: bold;
}